.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: $font-weight-normal;
}

.button {
  &-site {
    padding: 16px 48px;
    background: none;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    transition: $transition-base;

    &:hover {
      background: black;
      color: white;
    }

    &:active {
      background: #2d2d2d;
      color: white;
    }

    &_fill {
      background: black;
      color: white;

      &:hover {
        background: #151515;
        color: white;
      }
    }

    &_outline {
      background: none;
      border-color: black;
      color: black;
    }

    &_around {
      padding: 9px 50px;
      border-color: black;
      border-radius: 50px;

      svg {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        fill: black;
        transition: $transition-base;
      }

      &:hover {
        svg {
          fill: white;
        }
      }
    }
  }

  &-submit {
    padding: 15px 95px;
    background: $main-first-color;
    border: none;
    outline: none !important;
    color: white;
    font-size: 18px;
    line-height: 27px;
    transition: $transition-base;

    &:hover {
      background: #d01817;
    }

    &:active {
      background: #c51716;
    }

    &_sm {
      padding: 11px 95px;
      font-size: 20px;
      line-height: 30px;
    }

    &_lg {
      padding: 19px 95px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &-link {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    text-decoration: none !important;
    transition: $transition-base;

    &:hover {}

    &:active {}
  }
}
h1{
  font-size: 56px;
  line-height: 84px;
  font-weight: 600;
}