.section-article {
  margin-top: 92px;
  margin-bottom: 110px;
}

  .back{
    color: #E31D1C;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    svg{
      width: 18px;
      height: 12px;
      color:#E31D1C;
      transform: rotate(180deg)
    }
  }
.article-wrapper {
  margin-left: 90px;
  margin-top: 40px;
  width: 1060px;
  .data {
    color: #828282;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .title{
    font-size: 32px;
    line-height: 48px;
    width: 790px;
    margin: 0 0 20px;
  }
  .article {
    margin-bottom: 15px;
    &-bold{
      font-weight: 500;
    }
  }
  img{
      margin: 15px 0 15px;
    }
  .subtitle{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #000000;
    font-weight: 500;
    margin: 15px 0 20px;
  }
  .article-list{
    padding: 0;
    li{
      padding-bottom: 5px;
    }
  }
}