.section-article {
  margin:80px 0;
}

  .back{
    color: #cf1c31;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      &:hover {
        color: #cf1c31;
        font-weight: 600;
        text-decoration: none;
      }
    svg{
      width: 18px;
      height: 12px;
      color:#cf1c31;
      transform: rotate(180deg)
    }
  }
.article-wrapper {
  margin-top: 40px;
  padding: 0 25px;
  h1{
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 20px;
    font-weight: 600;
    color: #000000;
  }
  h2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #000000;
    margin: 15px 0 20px;
  }
  h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    text-transform: uppercase;
    color: #828282;
    margin-bottom: 10px;
  }
  p {
    color: black;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 15px;

  }
   span{
     display: block;
     color: black;
     font-size: 16px;
     line-height: 24px;
      font-weight: 500;
     margin-bottom: 15px;

  }
  img{
    width: 100%;
      margin: 15px 0 15px;
    }

  ol{
    padding: 0;
    li{
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
     color: #000000;
     padding-bottom: 5px;
    }
  }
}

@include media-breakpoint-up(sm) {

}

/* from 768 to 991 */
@include media-breakpoint-up(md) {

}

/* from 992 to 1200 */
@include media-breakpoint-up(lg) {
  .section-article {
    margin-top: 92px;
    margin-bottom: 110px;

    .article-wrapper {
      margin-left: 90px;
      max-width: 780px;

      .title {
        font-size: 32px;
        line-height: 48px;
        width: 790px;
      }
      .subtitle{
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
}
/* from 1200 to 1300 */
@include media-breakpoint-up(xl) {
  .section-article {
    .article-wrapper {
      max-width: 1060px;
    }
  }
}


/*from 1300 to infinity*/
@include media-breakpoint-up(xxl) {

}
