
.blog-toggle {
  &::before, &::after {
    background: #FFFFFF;
  }

  span {
    background: #FFFFFF;
  }
}



.blog-menu {
  li a {
    color: #000000;
  }
}

.blog-action {
  .phone a {
    color: #000000;
  }

  .button-site {
    color: black;

    &_outline {
      background: none;
      border-color: black;
    }

    &_fill {
      color: #FFFFFF;
      background: black;
    }
  }
}


.section-main-blog {
  padding: 145px 0 300px;
}

.blog-title {

  width: 315px;

  .title {
    font-size: 34px;
    color: #FFFFFF;
    margin: 0 0 10px;
    text-align: center;

    line-height: 41px;
  }

  .article {

    margin: 0 0 40px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 289px;
  }

  form {
    width: 100%;

    label {
      width: 100%;
      position: relative;
    }

    .form-control {
      height: 21px;
      width: 100%;
      margin: 0;
      padding: 10px 200px 10px 0;
      color: #FFFFFF;
      border-color: #FFFFFF;
      background: none;
    }

    .button-submit_sm {
      position: absolute;
      top: -15px;
      left: 67%;
      width: 104px;
      height: 29px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      border-radius: 3px;
      padding: 0;
    }

  }

}

@media screen and (min-width: 375px) {
  .blog-title {
    width: 360px;
    .article {
      width:350px;
      margin-bottom: 70px;
    }
    form {
      .form-control {
        width: 90%;
      }

      .button-submit_sm {
        left: 62%;
      }
    }
  }
}

/* from 576 to 767 */
@include media-breakpoint-up(sm) {

  .blog-title {
    width: 576px;

    .article {
      width: 100%;
      padding: 0 150px 0;
      margin-bottom: 70px;
    }

    form {
      .form-control {
        width: 90%;
      }

      .button-submit_sm {
        left: 72%;
      }
    }


  }

}

/* from 768 to 991 */
@include media-breakpoint-up(md) {
  .blog-title{
    margin: 0 auto;
  }
  .button-submit_sm {
    left: 85%;
  }
}

/* from 992 to 1200 */
@include media-breakpoint-up(lg) {

  .blog-title {
    width: 500px;
    margin: 0;

    .title {
      font-size: 56px;
      line-height: 67px;
      text-align: start;
    }

    .article {
      margin: 0 0 50px;
      width: 289px;
      font-size: 20px;
      line-height: 30px;
      text-align: start;
      padding: 0;
    }

    .button-submit_sm {
      left: 79%;
    }
  }
}

/* from 1200 to 1300 */
@include media-breakpoint-up(xl) {
  .blog-menu {
    li a {
      color: #FFFFFF;
    }
  }
  .blog-action {
    .phone a {
      color: #FFFFFF;
    }

    .button-site {
      color: white;

      &_outline {
        background: none;
        border-color: #FFFFFF;
      }

      &_fill {
        background: #cf1c31;
      }
    }
  }
}

/*from 1300 to infinity*/
@include media-breakpoint-up(xxl) {

}