.section-garage {
  margin-bottom: 130px;
}

.garage {
  .swiper {
    &-container {
      margin-bottom: 35px;
    }


    &-slide {
      img {
        width: 100%;
      }
    }
  }

  .slider-text {
    margin-top: 50px;

    .name {
      font-size: 16px;
      line-height: 19px;
      color: #828282;
      font-weight: 400;
      padding-bottom: 15px;
      margin: 0;
    }

    .article {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      margin-left: 6px;
    }
  }

  &-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50px; /* add for 320px*/

    .swiper-button {
      &-prev, &-next {
        position: relative;
        background-image: none;
        width: 35px;
        height: 35px;
        border: 1px solid #000000;
        border-radius: 56px;
        margin: -10px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 46%;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          transform: translate(-50%, -50%);
        }

        &:hover {
          background: #EFEFEF;
        }

        &:active {
          background: #000000;
        }
      }

      &-prev {
        &::before {
          border-width: 10px 10px 10px 0;
          border-style: solid;
          border-color: transparent black transparent transparent;
        }

        &:active::before {
          border-right-color: #efefef;
        }
      }

      &-next {
        &::before {
          top: 50%;
          left: 54%;

          border-width: 10px 0 10px 10px;
          border-style: solid;
          border-color: transparent transparent transparent black;
        }

        &:active::before {
          border-left-color: #efefef;
        }
      }
    }
  }

  hr {
    color: #000000;
  }
}

.garage-text {
  margin-top: 20px;
  margin-bottom: 45px;

  .subtitle {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .article {
    font-size: 14px;
    line-height: 18px;
    color: #828282;
    margin: 0 0 30px;
  }
}

.button-submit_lg {
  padding: 17px 0;
  font-size: 18px;
  line-height: 27px;
  height: 61px;
  width: 100%;
  border-radius: 3px;
}


@include media-breakpoint-up(sm) {
}

/* from 576 to 767 */
@include media-breakpoint-up(md) {
  .garage {
    .slider-text {
      .name {
        font-size: 18px;
        line-height: 22px;
      }

      .article {

        font-size: 18px;
        line-height: 22px;
      }
    }

    &-buttons {
      position: absolute;
      right: 0;
      bottom: 50px;
      width: 122px;
      height: auto;

      .swiper-button {
        &-prev, &-next {
          width: 56px;
          height: 56px;

          &::before {
            left: 50%;
          }
        }

        &-prev {
          &::before {
            border-width: 0 8px 8px 8px;
            border-color: transparent transparent black transparent;
          }

          &:active::before {
            border-color: transparent transparent #efefef transparent;
          }
        }

        &-next {
          &::before {
            border-width: 8px 8px 0 8px;
            border-color: black transparent transparent transparent;
          }

          &:active::before {
            border-color: #efefef transparent transparent transparent;
          }
        }
      }
    }

    .garage-text {
      .article {
        *margin: 0;
      }
    }
  }
}

/* from 768 to 991 */
@include media-breakpoint-up(lg) {
}

/* from 992 to 1200 */
@include media-breakpoint-up(xl) {
  .swiper {
    &-wrapper {
      height: 550px;
    }
  }

}

/* from 1200 to 1300 */
@include media-breakpoint-up(xxl) {
}