.section-service{
  margin-bottom: 80px;
  /*margin-bottom: 120px;*/
}
.service {
}
.section-title {
    margin-bottom: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid #E0E0E0;
  }
.service-text-main{
  .subtitle{
    font-size: 30px;
    line-height: 36px;
  }

  .article{
    max-width: 575px;
    font-size: 16px;
    line-height: 21px;
   /* font-size: 20px;
    line-height: 26px;*/
    margin: 20px 0;
  }
  img{
    display: inline-block;
    width: 100%;
    /*position: absolute;
    top:0;
    left: 50%;*/
  }
}
.service-list{
  padding: 0;
/*  margin: 0 0 45px;*/
  margin: 0 0 20px;

 li{
   position: relative;
   padding-left: 18px;

   &:not(:last-child) {
     margin-bottom: 10px;
   }

   &:before{
     content: '';
     position: absolute;
     top: 6px;
     left: 0;
     width: 8px;
     height: 8px;
     background: #E31D1C;
     border-radius: 8px;
   }
 }
}
.service-text-secondary{
  .subtitle{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .article{
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 18px;
  }
}
@include media-breakpoint-up(sm){}
/* from 576 to 767 */
@include media-breakpoint-up(md){
  .service-text-main{
    flex: 0 0 auto;
    img {
      position: absolute;
      top: 0;
      left: 50%;
    }
  }
  .service-text-secondary{
    .article{
      width: 198px;
      margin: 20px 0;
    }
  }
}
/* from 768 to 991 */
@include media-breakpoint-up(lg) {
  .service-text-main {


  }
  .service-text-secondary{
    .article{
      width: 100%;
    }
  }
}
/* from 992 to 1200 */
@include media-breakpoint-up(xl) {
  .section-service {
    margin-bottom: 120px;
  }

  .service-text-main {
    .subtitle {
      font-size: 48px;
      line-height: 58px;
    }

    .article {
      font-size: 20px;
      line-height: 26px;
    }

  }
  .service-list {
    margin: 0 0 45px;
  }
  .service-text-secondary {
    .subtitle {
      font-size: 22px;
      line-height: 26px;
    }
    .article{
      width: 230px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
/* from 1200 to 1300 */
@include media-breakpoint-up(xxl){
  .service-text-secondary {

    .article{
      width: 100%;

    }
  }
}