.section-service {
  margin-bottom: 80px;
}

.service {
}

.section-title {
  margin-bottom: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #E0E0E0;
}

.service-text-main {
  .subtitle {
    font-size: 30px;
    line-height: 36px;
  }

  .article {
    max-width: 575px;
    font-size: 16px;
    line-height: 21px;
    margin: 20px 0;
  }
}

.service-list {
  padding: 0;
  margin: 0 0 20px;

  li {
    position: relative;
    padding-left: 18px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 8px;
      height: 8px;
      background: #cf1c31;
      border-radius: 8px;
    }
  }
}

.track-path {
  position: relative;


  .map-road {
    width: 100%;
  }

  .car {
    position: absolute;
    width: 35px;
    top: 5.5%;
    right: 17%;
    transform: rotate3d(0, 0, 0, -3deg);
    animation: drive 5s ease 1 alternate;
  }
}

.service-text-secondary {
  .subtitle {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .article {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 18px;
  }
}

@keyframes drive {
  0% {
    top: 5.5%;
    right: 17%;
  }
  100% {
    top: 34.5%;
    right: 58%;
  }
}


@media screen and (min-width: 375px) {
  .track-path {
    .car {
      position: absolute;
      width: 35px;
      top: 4.5%;
      right: 17%;
      transform: rotate3d(0, 0, 0, -3deg);
      animation: drive 5s ease 1 alternate;
    }
  }
  @keyframes drive {
    0% {
      top: 4.5%;
      right: 17%;
    }
    100% {
      top: 35.5%;
      right: 57%;
    }
  }
}

/* from 576 to 767 */
@include media-breakpoint-up(sm) {
  .track-path {
    .car {
      position: absolute;
      width: 35px;
      top: 7.9%;
      right: 17%;
      transform: rotate3d(0, 0, 0, -3deg);
      animation: drive 5s ease 1 alternate;
    }
  }
  @keyframes drive {
    0% {
      top: 7.9%;
      right: 17%;
    }
    100% {
      top: 40%;
      right: 59%;
    }
  }

}

/* from 768 to 991 */
@include media-breakpoint-up(md) {
  .service-text-main {
    flex: 0 0 auto;
  }

  .track-path {
    position: absolute;
    top: 83px;
    left: 209px;
    width: 81%;

    .map-road {
      width: 93%;
    }

    .car {
      position: absolute;
      top: 8.5%;
      right: 24%;
      animation: drive 5s ease 1 alternate;
    }

    @keyframes drive {
      0% {
        top: 8.5%;
        right: 24%;
      }
      100% {
        top: 39.5%;
        right: 62%;
      }
    }
  }

  .service-text-secondary {
    .article {
      width: 198px;
      margin: 20px 0;
    }
  }
}


/* from 992 to 1200 */
@include media-breakpoint-up(lg) {
  .service-text-main {

  }
  .track-path {
    top: 8.5%;
    left: 29%;
    right: auto;

    .map-road {
      width: 93%;
    }

    .car {
      position: absolute;
      top: 9%;
      right: 24%;
    }
  }
  @keyframes drive {
    0% {
      top: 9%;
      right: 24%;
    }
    100% {
      top: 42%;
      right: 63%;
    }
  }


  .service-text-secondary {
    .article {
      width: 100%;
    }
  }
}

/* from 1200 to 1300 */
@include media-breakpoint-up(xl) {
  .section-service {
    margin-bottom: 120px;
  }
  .track-path {
    .car {
      position: absolute;
      top: 10.5%;
      right: 24%;
    }
  }
  .service-text-main {
    .subtitle {
      font-size: 48px;
      line-height: 58px;
    }

    .article {
      font-size: 20px;
      line-height: 26px;
    }

  }
  .service-list {
    margin: 0 0 45px;
  }
  .service-text-secondary {
    .subtitle {
      font-size: 22px;
      line-height: 26px;
    }

    .article {
      width: 230px;
      font-size: 14px;
      line-height: 18px;
    }
  }
  @keyframes drive {
    0% {
      top: 10.5%;
      right: 24%;
    }
    100% {
      top: 42.5%;
      right: 63%;
    }
  }
}

/*from 1300 to infinity*/
@include media-breakpoint-up(xxl) {
  .service-text-secondary {

    .article {
      width: 100%;

    }
  }
}


