/*
.input-style {



  .input-form {
    margin-bottom: 64px;
  }

  .button-submit {
    margin: 13px auto 60px;
    max-width: 585px;
    height: 68px;
  }
  &__track-form {
    .input-form {
      margin: 0 auto 22px;
    }

    .button-submit {
      margin: 0 auto 100px;
      width: 585px;
      height: 68px;
    }
  }
  &__app-accepted{
    .input-form {
      margin: 0 auto 22px;
    }

    .button-submit {
      margin: 0 auto;
      max-width: 213px;
    }
  }
}
*/

section2{

}
