/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
}

.copyright {
}

.footer-block {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .logo {
    margin-bottom: 30px;

    img {
      width: 222px;
      height: 29px;
    }
  }

  &__list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;


    .main-menu {
      display: flex;

      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;

      li {
        margin-bottom: 15px;

        a {
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          color: #000000;
          font-weight: 400;


          &:hover {
            font-weight: 500;
          }

          &:active {
            font-weight: 700;
          }
        }
      }

      .social-media {
        font-weight: 500;
      }
    }
  }

  .button-site_fill {
    width: 206px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    height: 40px;
    background-color: #FFFFFF;
    color: #000000;
    border-color: #000000;
    margin-bottom: 40px;

    &:hover {
      font-weight: 500;
    }

    &:active {
      font-weight: 700;
    }
  }

}

hr {
  background-color: #E0E0E0;
  margin: 0;
}

.reserved {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  align-content: center;

  p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #828282;
    margin: 0;
  }
}

/* from 576 to 767 */
@include media-breakpoint-up(sm) {

}

/* from 768 to 991 */
@include media-breakpoint-up(md) {
  .footer-block {
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 175px;

    .logo {
      width: 30%;
      margin-bottom: 0;

      img {
        width: 210px;
        height: 26px;
      }
    }

    &__list {
      width: 337px;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;

      .main-menu {
        height: 95px;
        width: 130px;/* for 768*/
        justify-content: space-between;
        align-content: center;
        align-items: center;
        border-right: 1px solid #E0E0E0;

        li {
          a {
            font-size: 14px;
            line-height: 21px;
          }
        }

        .social-media {
          font-weight: 400;
        }

      }
    }

    .button-site_fill {

      width: 122px;
      margin-left: 10px;
      margin-bottom: 0;
    }
  }
}

/* from 992 to 1200 */
@include media-breakpoint-up(lg) {
  .footer-block {
    .logo {
      width: 47%;
      img {
        width: 276px;
        height: 36px;
      }
    }
    &__list {
      width: 43%;
      .main-menu {
        width: 33%;/* for 768*/
        padding:0 0 0 13px;
        align-content: flex-start;
        align-items: flex-start;
      }
    }
    .button-site_fill {
      width: 135px;
      margin-left: 45px;
    }
  }

}


/* from 1200 to 1300 */
@include media-breakpoint-up(xl) {
.footer-block {
  &__list {
    .main-menu {
      padding:0 0 0 30px;
      margin: 0;

    }
  }
  .button-site_fill {
    margin-left: 90px;
  }
}
}

/*from 1300 to infinity*/
@include media-breakpoint-up(xxl) {

}
