/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: absolute;
  min-width: 320px;
  width: 100%;
  z-index: 100;
  padding-top: 19px;
}

.logo {
  img {
    width: 192px;
    height: 25px;
  }
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;


  &__menu {
    display: inline-flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 85px;
  }
}

.main-menu {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  li {
    &:not(:last-child) {
      margin-right: 35px;
    }

    a {
      font-size: 14px;
      line-height: 21px;
      text-decoration: none;
      color: #000000;
      font-weight: 400;

      &:hover {
        font-weight: 500;
      }

      &:active {
        font-weight: 700;
      }
    }
  }
}

.header-action {
  display: flex;
  width: 410px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0;

  .button-site {
    &_outline {
      width: 100%;
      max-width: 135px;
      font-size: 14px;
      line-height: 21px;
    }

    &_fill {
      width: 100%;
      max-width: 98px;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.phone {
  width: 139px;
  height: 27px;

  a {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;

    &:hover {
      font-weight: 700;
    }

    &:active {
      font-weight: 700;
    }
  }
}



