/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  z-index: 100;
}

.logo {
  img {
    width: 192px;
    height: 25px;
  }
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 19px;

  &__menu {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding-left: 83px;
  }
}


.main-menu {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  li {
    &:not(:last-child) {
      margin-right: 35px;
    }

    a {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.header-action {
  display: flex;
  width: 410px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.phone{
  width: 139px;
  height: 27px;
  a{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
  }
}

.button-site_outline{
  width: 135px;
  height: 40px;
  font-size: 14px;
  line-height: 21px;
  padding:0;
}
.button-site_fill{
  width: 98px;
  height: 40px;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
}

